%h1 Listing matches

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @matches.each do |match|
      %tr
        %td= link_to 'Show', match

%br

= link_to 'New Match', new_match_path
